html, body {
    background-image:url("../image/addclassBG.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    z-index: -999;


    width:100%;
    height:110%;
}


#pac-input {

      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 52%;
    }

    #pac-input:focus {
      border-color: #4d90fe;
    }



.bodyPdTop {
  padding-top: 15px;
}

.bt {
  color: #000000;
}

.name {
  padding-top: 15px;
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}

#map {
  margin: 0 auto;
  height: 400px;
  width: 100%;
  max-width: 800px;
}

.blackText {
  color: #000000;
}

.code {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #4c0099;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #ffffff;
}

.classcreate {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #4c0099;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #ffffff;
}

.alertTxt {
  font-size: 12px;
  color: RED;
}

.lengthInput {
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .code {
    width: 800px;
  }
  .classcreate {
    width: 800px;
  }
  #map {
    width: 800px;
  }


  .myButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 14px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.tags-input {
  border: 2px solid #dfdfdf;
  border-radius: 40px;
  height: 25px;
  padding: 0 11px;
  font-size: 14px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  color: #888;
}



}
@media only screen and (max-width: 768px) {
  body {


      width:100%;
      height:auto;
  }

}
