.tableViolet {
  background-color: #4c0099;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.tdViolet {
  padding: 5px;
}

.numberStudent {
  font-size: 35px;
  color: #ffffff;
  padding: 10px;
}

.bodyPdTop {
  padding-top: 15px;
}

.greenText {
  color: #76ff03;
  text-shadow: 2px 2px 4px #000000;
  float: right;
}

.redText {
  color: #ff3d00;
  text-shadow: 2px 2px 4px #000000;
  float: right;
}

.fontDT {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}

table, tr, td {
  margin: 0 auto;
  border: 2px solid #e0e0e0;
}

.pdleft {
  float: left;
}

.imgStudent {
  float: left;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 20px 0 50px;
}

@media only screen and (min-width: 1000px) {
  .tableViolet {
    width: 800px;
  }
}

@media only screen and (max-width: 768px) {
  .numberStudent {
    font-size: 4vw;
    padding-top: 20px;
  }
  .imgStudent {
    margin: 5px;
  }
  .fontDT {
    font-size: 4vw;
  }
}