.text-center {
  text-align: center;
}

.other {
  padding-top: 10px;
  padding-right: 5px;
}

.mgRightCheck {
  margin-right: 20px;
}

.numberStudent {
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

.greenText {
  color: #76ff03;
  text-shadow: 2px 2px 4px #000000;
}

.redText {
  color: #ff3d00;
  text-shadow: 2px 2px 4px #000000;
}

.closeClass {
  margin: 0 auto;
  margin-top: 10px;
  padding: 15px;
  background-color: #4c0099;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}

.checking {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #4c0099;
  width: 100%;
  color: #ffffff;
  font-size: 30px;
  overflow: auto;
}

.mgFontChecking {
  margin-left: 160px;
  float: left;
}

.checking:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tableViolet {
  background-color: #4c0099;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin-top: 10px;
}

.tdViolet {
  padding: 5px;
}

table, tr, td {
  margin: 0 auto;
  border: 2px solid #e0e0e0;
}

.imgChecking {
  width: 44px;
  height: 35px;
  float: right;
}

.checkStatus:link, .checkStatus:visited, .checkStatus:active {
  color: #ffffff;
  font-size: 25px;
  float: right;
  text-decoration: none;
}

/* mouse over link */

.checkStatus:hover {
  color: #ffffff;
  font-size: 25px;
  float: right;
  text-decoration: underline;
}

.bodyPdTop {
  padding-top: 5px;
}

.blackText {
  color: #000000;
}

.stdImg {
  float: left;
}

.nameStudent {
  float: left;
  padding-top: 15px;
  color: #ffffff;
  font-size: 20px;
}

.pdHistory {
  padding-top: 15px;
}

@media only screen and (min-width: 1000px) {
  .tableViolet {
    width: 800px;
  }
  .tdViolet {
    padding-left: 50px;
  }
  .checking {
    width: 800px;
  }
}

@media only screen and (max-width: 768px) {
  .mgFontChecking {
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }
  .numberStudent {
    font-size: 25px;
  }
  .checking {
    font-size: 4vw;
  }
  .checkStatus:link, .checkStatus:visited, .checkStatus:active, .checkStatus:hover {
    font-size: 4vw;
  }
}