html, body {

}

.br {
  display: inline;

}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.center {

  text-align: center;
  background-color: transparent;
}

.bgimage{
  background-image:url("../image/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-filter: blur(1px);
-moz-filter: blur(1px);
-o-filter: blur(1px);
-ms-filter: blur(1px);
filter: blur(1px);
position: fixed;
left: 0;
right: 0;
z-index: -999;


width:100%;
height:100%;
}
