.topBar {
  /* background-color: rgba(0, 0, 0, 0.87); */
  background-color: #212121;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  padding: 10px 0 10px 0;
  min-height: 80px;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #f5f5f5 !important;
}

.topbarContent {
  float: left;
}

.imgProfile {
  border-radius: 50%;
  width: 60px;
  height: auto;
}

.row {
  margin-right: 0px;
}

.plus {
  width: 50px;
  float: left;
}

.name {
  padding-top: 15px;
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}

.profile {
  float: left;
  width: 60px;
  margin-right: 15px;
}

@media only screen and (max-width: 768px) {
  .name {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    width: 45%;
    font-size: 4vw;
  }
  .profile {
    width: 20%;
    margin-right: 0px;
  }
  .plust {
    width: 15%;
  }
  .imgprofile {
    width: 100%;
  }
}