.ownerClass {
  float: left;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.bodyPdTop {
  padding-top: 5px;
}

.box {
  margin: 10px 15px 10px 0px;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  display: inline-block;
  border-radius: 13px;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boxImg {
  width: 25%;
  float: right;
}

.boxTopicc {
  width: 75%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  float: left;
}

/* unvisited link */

.boxTopic:link, .boxTopic:visited, .boxTopic:active {
  color: #ffffff;
  font-size: 30px;
  float: left;
  text-decoration: none;
}

/* mouse over link */

.boxTopic:hover {
  color: #ffffff;
  font-size: 30px;
  float: left;
  text-decoration: underline;
}

.boxTopic:hover .spanText {
  visibility: visible;
}

.name {
  padding-top: 15px;
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .boxTopic:link, .boxTopic:visited, .boxTopic:active, .boxTopic:hover {
    font-size: 5vw;
  }
}